@charset "UTF-8";

/* General styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link,
a {
  color: #3282b8;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:active {
  color: #3282b8;
  background-color: transparent;
  text-decoration: none;
}

/* Vertical Spacing */
.mt-1 {
  margin-top: 2rem !important;
  margin-left: 3rem;
}

.mt-2 {
  margin-bottom: 2rem !important;
  margin-left: 3rem;
  margin-right: 3rem;
}

/* Horizontal Spacing */
.h_space {
  margin-right: 1.5rem !important;
  margin-top: 1rem !important;
}

/* Text alignment */
.centered,
.centerH,
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: left;
}

h1,
h2,
h3,
h5 {
  text-align: left;
}

h3,
h5 {
  font-weight: bold;
}

/* Section Headers */
.colored_heading_h1 {
  color: #16213e;
}

.colored_heading_h2 {
  color: #151965;
}

.colored_heading_h3 {
  color: #0f4c75;
}

.colored_heading_h5 {
  color: #3282b8;
}

/* Image styles */
.profile-image {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Card styles */
.card-custom {
  text-align: center;
  width: 10rem;
  margin: 15px;
  cursor: pointer;
  color: #808880;
}

.card-custom .card-text {
  font-weight: bold;
  text-align: right;
}

.card-hover:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-hover:hover .card-text {
  text-decoration: underline;
  text-decoration-color: #81a1c1;
}

.card-custom-light:hover {
  box-shadow: 0 0 10px white;
}

/* Scroll arrow */
.scroll-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.arrow-up {
  border: solid #808880;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* Additional styles */
.p_ind {
  text-indent: 20px;
  text-align: justify;
}

.left-spacer {
  margin-left: 100px;
}
